<h1>Listing posts</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Provider</th>
    <th>Media type</th>
    <th>Title</th>
    <th>Views</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.url %></td>
    <td><%= post.provider %></td>
    <td><%= post.media_type %></td>
    <td><%= post.title %></td>
    <td><%= post.views %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
