

<% content_for :header, '<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>' %>
<h1>
  <%= link_to @post.title, @post.url, :target => "_blank" %>
</h1>
<div class="row">

<div class="span8">
	<% if @post.embed_code %>
	<div id="" class="flex-video">
	  <%= raw @post.embed_code %>
	</div>
	<% else %>
	<div id="content" class="flex-video">
	  <%= link_to '', @post.url %>
	</div>
	<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$('#content a').embedly({key: 'de58199a853c4012893443678819d1f0'});
	</script>

	<% end %>
</div>
<div class="span4">

	<p><% if @post.thumbnail_url %><%= image_tag @post.thumbnail_url %><% end %></p>
	<p><% if @post.description %><%= @post.description %><% end %></p>
	<p><% if @post.author_name %>by <%= @post.author_name %><% end %></p>
	<p><% if @post.user %>posted by <%= link_to @post.user.name, @post.user %><% end %><% if @post.provider_url %> via <%= link_to @post.provider, @post.provider_url, :target => "_blank" %><% end %></p>
	<p id="post-data">
		<%=	render :partial => "data" %>
	</p>

	<% if can? :data, @post %>
	<%= button_to  'Add 10 Views', {:controller => :posts, :action => :data, :method => :put,:num => 10 }, :remote => true, :'data-update-target' => 'post-update', :class => "btn", :id => "add_views"  %>
	<% end %>
	<h3>Share: <a id='tweet-button' href="#"></a></h3>

	

	<p>
		<code> <%= "#{request.protocol + request.host_with_port}/posts/#{@post.id}" %> </code>
	</p>

	<p id="post-id" class="hidden"><%= @post.id %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>


<script type="text/javascript">

// $(document).ready(function() {
	    twttr.ready(function() {

		     // twttr.widgets.load();

				twttr.widgets.createShareButton(
					'www.twitter.com' ,
					  document.getElementById('tweet-button'),
					  function (el) {
					    console.log("Tweet Button created.")
					  },
					  {
					    text: 'testing @twitterapi intents',
					    url: 'http;//twitter.com', 
					    count: 'none',
					    hashtags: 'twttr'

					  }
					);

				twttr.events.bind('tweet', function (event) {
					  // Do something there
					  console.log("tweet");
					  	var post_id = $('#post-id').html();	
						console.log(post_id);

					  var current_id = post_id;
					  console.log(current_id);
					  var ajax_url = "/posts/" + current_id + ".json/tweet"
					  console.log(ajax_url);

					  var post_data = {post: {tweets: 1}};
					  var post_data = JSON.stringify(post_data);	
  					  console.log(post_data);

					  	$.ajax({
						        type: "POST",
						        url: ajax_url,
						        contentType: 'application/json',
						        dataType: 'json',
						        data: post_data,
						        success: function(){
						        	$('#post-data')
									.empty()
									.append('<%= j render :partial => "posts/data", :content_type => "text/javascript", :locals => {:post_id => '+ post_id +'} %>');
						        }
						});
					});


		});

// });
</script>






