

<% content_for :header, '<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>' %>
<h1>
  <%= link_to @post.title, @post.url, :target => "_blank" %>
</h1>
<div class="row">

<div class="span8">
	<% if @post.embed_code %>
	<div id="" class="flex-video">
	  <%= raw @post.embed_code %>
	</div>
	<% else %>
	<div id="content" class="flex-video">
	  <%= link_to '', @post.url %>
	</div>
	<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$('#content a').embedly({key: 'de58199a853c4012893443678819d1f0'});
	</script>

	<% end %>
</div>
<div class="span4">

	<p ><% if @post.thumbnail_url %><%= image_tag @post.thumbnail_url, :class => "img-polaroid" %><% end %></p>

	<section class="clearfix">
		<div id="post-data" class="pull-left" >
				<%=	render :partial => "data" %>
		</div>
		<div class="pull-right">
			<ul id="share-nav" class="clearfix">
				<li>	
					<a id='tweet-button' href="#"></a>
				</li>
				<li>
					<% if can? :data, @post %>
					<%= button_to  'Add 10 Views', {:controller => :posts, :action => :data, :method => :put,:num => 10 }, :remote => true, :'data-update-target' => 'post-update', :class => "btn btn-mini btn-success", :id => "add_views" %>
					<% end %> 
				</li>
			</ul>
		</div>
	</section>

	<p class="well">
		<% if @post.description %><%= @post.description %><% end %><br/>
		<em><% if @post.author_name %>by <%= @post.author_name %><% end %></em>
	</p>
	<p>
		<% if @post.user %>posted by <%= link_to @post.user.name, @post.user %><% end %>
		<% if @post.provider_url %>, via <%= link_to @post.provider, @post.provider_url, :target => "_blank" %>
		<% end %>
	</p>
	<section>
		<code> <%= "#{request.protocol + request.host_with_port}/posts/#{@post.id}" %> </code>
	</section>
	<p id="post-id" class="hidden"><%= @post.id %></p>

	<section class="pull-right">
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	</section>
</div>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>


<script type="text/javascript">

// $(document).ready(function() {
	    twttr.ready(function() {

		     // twttr.widgets.load();

				twttr.widgets.createShareButton(
					'<%= j "#{request.protocol + request.host_with_port}/posts/#{@post.id}" %>' ,
					  document.getElementById('tweet-button'),
					  function (el) {
					    console.log("Tweet Button created.")
					  },
					  {
					    text: '<%= j "#{@post.title.html_safe} #{request.protocol + request.host_with_port}/posts/#{@post.id}" %>',
					    url: '<%= j "#{request.protocol + request.host_with_port}/posts/#{@post.id}" %>', 
					    count: 'none',
					    hashtags: 'twttr',
					    via: 'virallytesting'

					  }
					);

				twttr.events.bind('tweet', function (event) {
					  // Do something there
					  console.log("tweet");
					  	var post_id = $('#post-id').html();	
						console.log(post_id);

					  var current_id = post_id;
					  console.log(current_id);
					  var ajax_url = "/posts/" + current_id + ".json/tweet"
					  console.log(ajax_url);

					  var post_data = {post: {tweets: 1}};
					  var post_data = JSON.stringify(post_data);	
  					  console.log(post_data);

					  	$.ajax({
						        type: "POST",
						        url: ajax_url,
						        contentType: 'application/json',
						        dataType: 'json',
						        data: post_data,
						        success: function(){
						        	$('#post-data')
									.empty()
									.append('<%= j render :partial => "posts/data", :content_type => "text/javascript", :locals => {:post_id => '+ post_id +'} %>');
						        }
						});
					});


		});

// });
</script>






