
<h1>
  <%= link_to @post.title, @post.url, :target => "_blank" %>
</h1>

<p>
  <%= @post.url %>
</p>

<p>
  <b><%= @post.views %>Views Remaining</b>
</p>

<%= button_to 'Add Views', :controller => :posts, :action => "add_views", :method => :put, :num =>   10   %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
